<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ hero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name" />
  </div>
  <div>
    <label for="hero-country">Country of Origin: </label>
    <input id="hero-country" [(ngModel)]="hero.country" placeholder="country" />
  </div>
  <div>
    <label for="hero-servant">Type of Servant: </label>
    <input
      id="hero-servant"
      [(ngModel)]="hero.servant_type"
      placeholder="servant"
    />
  </div>
  <div>
    <label for="hero-image">Hero image: </label>
    <img id="hero-image" [src]="hero.image" width="500" height="600" />
  </div>
  <button type="button" (click)="goBack()">Regresar</button>
  <button type="button" (click)="save()">save</button>
</div>
